@import './reset.css';
/* html*/
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
/* body*/
.body{
    font-style: normal;
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;


}


/* navbar start */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: sans-serif;
  padding: 15px;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  }
  nav a {
  text-decoration: none;
  color: rgb(11, 11, 11);
  }
  .list{
    display: flex;
    list-style: none;
    gap: 25px;
  }
  
  
  #toggler, label{
  display: none;
  }
  label i{
    color: rgb(24, 24, 24);
  }
  .logo-image{
    height: 100px;
    width: 150px;
  }
  .list-links{
    border: 1px solid purple;
    padding: 7px 20px;
    border-radius: 20px;
  }
  
/* navbar start */


/* form start */
.form_container{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}
.input_form{
  border: none;
  outline: none;
  padding-top: 15px;
}
.container_form_group{
  display: flex;

}
.container_form_group > .input_name, .input_phone, .input_email{
  padding-left: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  
}
.brief-text{
  font-size: 24px;
  padding-bottom: 10px;
}
.maket_size_container{
  margin-top: 50px;
}
.maket-text{
  margin-bottom: 20px;
  font-size: 20px;
}
.step_btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px 10px 0px 0px;
  color: #000000;
  font-size: 16px;
  background: #e8e8e8;
  padding: 12px 3px;
  width: 145px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.selected{
  background-color: #9E72FA;
}
.select-step_btn{
  list-style-type: none;
  display: flex;
  padding-bottom: 25px;
}
.form_action{
  padding: 9px 20px;
  color: #fff;
  font-size: 16px;
  font-family: 'Gilroy';
  font-style: normal;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #9E72FA;
  text-align: center;
  background-color: #9E72FA;
}
.input-image{
  width: 30px;
  height: 30px;
  padding-right: 10px;
  padding-top: 10px;
}
.input_name{
  border-bottom: 1px solid black;
  margin-right: 30px;

}
.input_phone{
  border-bottom: 1px solid black;
  margin-right: 30px;
}
.input_email{
  border-bottom: 1px solid black;
}
.container_form_group{
  margin-bottom: 20px;
}
.Contact_details_container{
  margin-bottom: 20px;
}
.input_comment{
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-left: 22px;
}
#comment{
  width: 90%;
}
.input_form{
  font-size: 16px;
}
/* form  end */



/* footer start*/
.footer{
  width: 100%;
  background-color: #2e2e40 ;
  color: #e8e8e8;

}
.row{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
}
.col{
  display: flex;
  justify-content: space-between;
}
.footer-logo-image{
  width: 130px;
  height: 70px;
}
.footer-nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  line-height: 60px;
}
.logo-text{
  padding-left: 15px;
}
.links{
  text-decoration: none;
  color: #e8e8e8;
}
/* footer end*/







/* media start */
@media (max-width: 800px) {
  .footer-nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    line-height: 60px;
  }
  .select-step_btn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
  }
  .container_form_group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: flex-start;
  }
}


@media screen and (max-width: 650px){
  
  .menu{
  width: 100%;
  max-height: 0;
  overflow: hidden;
  }
  label{
  display: inline-flex;
  font-size: 30px;
  margin-bottom: 7px;
  }
  #toggler:checked~.menu{
  max-height: 100%;
  }
  .list{
  flex-direction: column;
  align-items: center;
  padding: 20px;
  }
  } 

  @media (max-width: 600px) {
    .footer-nav{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      line-height: 60px;
    }

    .col{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
    .footer-nav{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      line-height: 60px;
    }
    .footer-logo{
      margin-bottom: 50px;
    }

  }
  @media (max-width: 550px) {
    .footer-nav{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      line-height: 60px;
    }
    .container_form_group{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-items: flex-start;
    }
    .select-step_btn{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
    }
    .input_form{
      font-size: 13px;
    }
    .step_btn{
      font-size: 13px;
    }
    .brief-text{
      font-size: 20px;
    }
    .maket-text{
      font-size: 16px;
    }
  }

  @media (max-width: 320px) {
    .logo-image{
      width: 130px;
      height: 60px;
    }


    .hamb{
      margin-top: 20px;
      font-size: 10px;
      margin-right: 15px;
    }

    .navbar__wrap .menu > li > a {
      font-size: 11px;
    }
    .popup .menu > li > a {
      font-size: 12px;
    }
    .work-image{
      width: 270px;
      height: 220px;
    }
    label{
      font-size: 26px;
      margin-bottom: 7px;
      }
      .logo-image{
        height: 80px;
        width: 120px;
      }
      nav {
        font-size: 13px;
        }
        label{
        font-size: 26px;
        margin-bottom: 7px;
        }
        .logo-image{
          height: 80px;
          width: 120px;
        }
        nav {
          font-size: 13px;
          }

  }
