@import './reset.css';
/* html*/
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
/* body*/
.Contacts{
  min-height: 100hv;
}

/* navbar start */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: sans-serif;
  padding: 15px;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  }
  nav a {
  text-decoration: none;
  color: rgb(11, 11, 11);
  }
  .list{
    display: flex;
    list-style: none;
    gap: 25px;
  }
  
  
  #toggler, label{
  display: none;
  }
  label i{
    color: rgb(24, 24, 24);
  }
  .logo-image{
    height: 100px;
    width: 150px;
  }
  .list-links{
    border: 1px solid purple;
    padding: 7px 20px;
    border-radius: 20px;
  }

/* navbar en */


/* works-title start*/
  .section-works-title{
    width: 100%;
    margin-bottom: 80px;
    margin-top: 30px;
    background-color: #b8b8b8;

  }
  .works-title-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .title-text{
    color: #ffffff;
  }
  .work-image{
    margin-bottom: 15px;
  }
/*  works-title  end*/

/* contact start*/
.contacts{
  height: 100%;
  position: relative;
}
.contact_container{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.container-contacts{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}


.contact-image{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.contact-group{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.contact-titles{
  font-size: 25px;
}
.contact-podtitles{
  font-size: 20px;
}
.title-text{
  font-size: 25px;
}
/* contact end*/

.section-map{
  max-width: 1200px;
  margin: 0 auto;

}

/* footer start*/
.footterr{
  width: 100%;
  background-color: #2e2e40 ;
  color: #e8e8e8;
  margin-top: 30px;
  position: absolute;
  top:100hv;

}
.row{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
}
.col{
  display: flex;
  justify-content: space-between;
}
.footer-logo-image{
  width: 130px;
  height: 70px;
}
.footer-nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  line-height: 60px;
}
.logo-text{
  padding-left: 15px;
}
.links{
  text-decoration: none;
  color: #e8e8e8;
}
/* footer end*/







/* media start */

@media (max-width: 800px) {
  .footer-nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    line-height: 60px;
  }
  .container-contacts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: left;
  }
  .container-contact{
    margin-bottom: 40px;
  }
}



  @media (max-width: 700px) {
    .title-text{
      padding-left: 13px;
    }
    .works-title-container{
      padding-top: 70px;
      padding-bottom: 70px;
    }
   .container-contact{
    margin-bottom: 90px;
   }

  }
  @media screen and (max-width: 650px){
  
		.menu{
		width: 100%;
		max-height: 0;
		overflow: hidden;
		}
		label{
		display: inline-flex;
		font-size: 30px;
		margin-bottom: 7px;
		}
		#toggler:checked~.menu{
		max-height: 100%;
		}
		.list{
		flex-direction: column;
		align-items: center;
		padding: 20px;
		}
	  } 

  @media (max-width: 600px) {
    .footer-nav{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: left;
      line-height: 60px;
    }

    .col{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
    .footer-nav{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      line-height: 60px;
    }
    .footer-logo{
      margin-bottom: 50px;
    }
    .container-contacts{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-items: left;
    }
    .container-contact{
      margin-bottom: 40px;
    }

  }
  @media (max-width: 550px) {
    .footer-nav{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      line-height: 60px;
    }
     .iframe{
      height: 320px;
     }

  }

  @media (max-width: 320px) {
    .logo-image{
      width: 130px;
      height: 60px;
    }
    .iframe{
      height: 200px;
    }
    label{
      font-size: 26px;
      margin-bottom: 7px;
      }
      .logo-image{
        height: 80px;
        width: 120px;
      }
      nav {
        font-size: 13px;
        }
        label{
        font-size: 26px;
        margin-bottom: 7px;
        }
        .logo-image{
          height: 80px;
          width: 120px;
        }
        nav {
          font-size: 13px;
          }
          .title-text{
            font-size: 18px;
          }
          .contact-image{
            width: 30px;
            height: 30px;
          }
          .contact-podtitles{
            font-size: 18px;
          }
          .contact_container{
            margin-bottom: 50px;
          }
  }
